.wrapper {
    width: 1440px;
    margin: 0 auto;
}
nav {
    width: 1440px;
    /*height: 80px;*/
    display: flex;
}
.logo {
    display: block;
    width: 68px;
    height: 29px;
    text-decoration: none;
    font-size: 24px;
    color: #22202E;
    margin: 25px 0 26px 80px;
    font-family: Montserrat;
}
.links {
    width: 702px;
    /*height: 22px;*/
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    margin: 29px 281px 29px 149px;
}
.links1 {
    width: 75px;
    height: 22px;
    margin-bottom: 0;
}
.links2 {
    width: 69px;
    height: 22px;
    margin: 0 44px;
}
.links3 {
    width: 49px;
    height: 22px;
    margin: 0 44px 0 0;
}
.links4 {
    width: 47px;
    height: 22px;
    margin: 0 44px 0 0;
}
.links5 {
    width: 66px;
    height: 22px;
    margin: 0 44px 0 0;
}
.links6 {
    width: 78px;
    height: 22px;
    margin: 0 44px 0 0;
}
.links7 {
    width: 54px;
    height: 22px;
    margin-bottom: 0;
}
.actions {
    width: 80px;
    /*height: 16px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 80px 34px 0;
}
.action1 {
    background-image: url("../img/Search.svg");
}
.action2 {
    background-image: url("../img/Shopping--cart.svg");
    margin-right: 16px;
    margin-left: 16px;
}
.action3 {
    background-image: url("../img/User--avatar.svg");
}
.act {
    text-decoration: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}
hr {
    display: block;
    margin: 0;
    border: none;
    background: #EBE8F4;
    height: 1px;
    width: 1440px;
}
header {
    width: 1440px;
    /*height: 223px;*/
    display: flex;
    flex-direction: column;
}
.title {
    width: 309px;
    height: 50px;
    font-family: Montserrat;
    font-size: 36px;
    margin: 80px 556px 24px 575px;
}
.filters {
    width: 1232px;
    height: 48px;
    display: flex;
    margin: 0 80px 5px 80px;
}
.filters1 {
    width: 570px;
    height: 48px;
    display: flex;
    margin: 8px 417px 8px 24px;
}
.filter1 {
    width: 139px;
    height: 48px;
    padding: 12px 24px;
    box-sizing: border-box;
}
.filter2 {
    width: 168px;
    height: 48px;
    padding: 12px 24px;
    box-sizing: border-box;
    margin: 0 12px;
}
.filter3 {
    width: 109px;
    height: 48px;
    padding: 12px 24px;
    box-sizing: border-box;
    margin-right: 12px;
}
.filter4 {
    width: 118px;
    height: 48px;
    padding: 12px 24px;
    box-sizing: border-box;
}
.filters2 {
    width: 245px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 24px 8px 0;
}
.sorting {
    width: 70px;
    height: 21px;
    font-family: Open Sans;
    font-size: 14px;
}
.filter5 {
    width: 159px;
    height: 48px;
    padding: 12px 24px;
    box-sizing: border-box;
    margin-left: 16px;
}
select {
    display: block;
    border: none;
    /*appearance: none;*/
    /*background: url("../img/Select-img.png") no-repeat right center;*/
    font-family: Open Sans;
    font-size: 16px;
}
main {
    width: 1440px;
    /*height: 1652px;*/
}
.listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 48px 20px;
    width: 1280px;
    height: 1482px;
    margin: 28px 80px 48px 80px;
}
.product {
    display: block;
    width: 305px;
    height: 462px;
    text-decoration: none;
}
.img-prod {
    width: 305px;
    height: 375px;
    margin-bottom: 24px;
}
.text1 {
    font-family: Montserrat;
    font-size: 20px;
    margin-bottom: 8px;
    color: #2A254B;
}
.text2 {
    font-family: Open Sans;
    font-size: 18px;
    color: #2A254B;
}
button {
    display: inline-block;
    border: none;
    background: #F9F9F9;
    width: 175px;
    height: 56px;
    padding: 16px 32px;
    color: #2A254B;
    font-family: Open Sans;
    font-size: 16px;
    margin: 64px 630px 40px 635px;
}
section {
    width: 1440px;
    /*height: 521px;*/
    display: flex;
    margin-top: 40px;
}
.div-end1 {
    width: 720px;
    height: 521px;
    background-image: url("../img/Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.div-end {
    width: 720px;
    height: 521px;
}
h2 {
    width: 541px;
    height: 39px;
    font-family: Montserrat;
    font-size: 32px;
    color: #2A254B;
    margin: 71px 130px 21px 49px;
}
.text-end {
    width: 470px;
    height: 48px;
    font-family: Open Sans;
    color: #2A254B;
    font-size: 16px;
    margin: 0 201px 216px 49px;
    line-height: 150%;
}
.button1 {
    display: inline-block;
    border: none;
    background: #2A254B;
    width: 120px;
    height: 56px;
    padding: 16px 32px;
    color: #FFF ;
    font-family: Open Sans;
    font-size: 16px;
    margin: 0 329px 70px 72px;
}
footer {
    width: 1440px;
    /*height: 380px;*/
    background: #2A254B;
}
.footer-div {
    width: 1440px;
    height: 312px;
    display: flex;
}
.footer-div1 {
    width: 720px;
    height: 312px;
    display: flex;
    background: #2A254B;
}
.footer-ul1 {
    margin: 58px 100px 79px 82px;
    width: 117px;
    height: 175px;
    font-family: Open Sans;
    color: #FFF;
    font-size: 14px;
}
.footer-ul2 {
    margin: 58px 131px 48px 0;
    width: 86px;
    height: 206px;
    font-family: Open Sans;
    color: #FFF;
    font-size: 14px;
}
.footer-ul3 {
    margin: 58px 93px 79px 0;
    width: 111px;
    height: 175px;
    font-family: Open Sans;
    color: #FFF;
    font-size: 14px;
}
.footer-li {
    font-family: Montserrat;
    color: #FFF;
    font-size: 16px;
}
li {
    margin-bottom: 12px;
}
.footer-div2 {
    width: 720px;
    height: 312px;
    background: #2A254B;

}
.footer-img {
    width: 642px;
    height: 195px;
    margin-top: 58px;
}
.footer-hr {
    display: block;
    margin: 0 83px 0 80px;
    border: none;
    background: #4E4D93;
    height: 1px;
    width: 1277px;
}
.footer-div3 {
    width: 1440px;
    height: 68px;
    background: #2A254B;
    display: flex;
}
.footer-p {
    width: 168px;
    height: 19px;
    font-family: Open Sans;
    color: #FFF;
    font-size: 14px;
    margin: 24px 845px 25px 80px;
}
.img-in {
    width: 21px;
    height: 21px;
}
.footer-div-a {
    width: 264px;
    /*height: 24px;*/
    margin: 22px 83px 22px 0;
    display: flex;
}
.footer-icon1 {
    background-image: url("../img/images-in.png");
    margin-right: 24px;
}
.footer-icon2 {
    background-image: url("../img/img-f.png");
    margin-right: 24px;
}
.footer-icon3 {
    background-image: url("../img/img-ins.png");
    margin-right: 24px;
}
.footer-icon4 {
    background-image: url("../img/img-s.png");
    margin-right: 24px;
}
.footer-icon5 {
    background-image: url("../img/img-t.png");
    margin-right: 24px;
}
.footer-icon6 {
    background-image: url("../img/img-p.png");
}
.ico {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}